
$yelow: #ffff00;
$green: #00FF00;
$red: #ff0000;

@mixin principal {
  margin: 30px;
  padding: 0px;
  color: $red;
}


.jumbotron {
    color: #ffffff;
    height: 550px;
    margin-top: 50px;
    background-image: url(/img/jumbotron.jpeg);
    background-size: cover;

  }
  
  .principal {
      
      height: 27rem;
      border-radius: 5px;
      display: flex;
      flex-direction: column;
      align-items: center;
      @include principal();
    }
  
  
  .nosotros {
    width :1200px;
    }
  
    
  
  .card-img-top {
      
      height: 133px;
     
    }
  
  
  .carousel{
    background: $green;
    margin: 0 0 1rem;
    height: 10rem;
    display: flex;
    /* align-items por defecto tiene el valor `stretch` */
    align-items: start;
    text-align: center;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    color: $yelow;
      
    }